.home__welcome {
  position: absolute;
  color: white;
  z-index: 12;
  top: 40%;
  left: 5%;
  text-transform: capitalize !important;
}

.home__welcome > h2,
.home__welcomeSpan {
  font-weight: 500;
  /* height: 250px; */
  font-size: 300%;
}

.d-block {
  height: 140vh !important;
  margin-bottom: -200px;
}

.home__project {
  padding: 5% 12%;
}

.home__project > h2 {
  font-size: 300%;
  font-weight: 300;
  color: black;
  text-align: center;
  padding-bottom: 3%;
  text-transform: uppercase;
}

.home__project > h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 90%;
  border-bottom: 2px solid #000;
}

.home__project > p {
  font-size: larger;
  word-spacing: 2px;
  text-align: justify;
  font-weight: 300;
  line-height: 170%;
}
