.project {
  padding: 0 12% 10% 12%;
}

.project__card {
  width: 23rem;
  padding: 5px 15px;
  filter: drop-shadow(0 0 0.75rem rgba(197, 197, 197, 0.345));
}

.project__card_title {
  padding: 5% 5% 5% 0;
  color: green;
  font-weight: bold !important;
  font-size: larger !important;
}

.project__card_text {
  font-size: large;
}
